name: Publish packages to Sonatype Central
on:
  workflow_dispatch:
  release:
    types: [created]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: 'temurin'
          server-id: central
          server-username: SONATYPE_USERNAME # env variable for username in deploy
          server-password: SONATYPE_PASSWORD # env variable for token in deploy
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }} # value of GPG private key
          gpg-passphrase: SONATYPE_GPG_PASSPHRASE # env variable for GPG private key passphrase

      - name: Build with Maven
        run: ./mvnw -B verify

      - name: Publish to Sonatype Central
        run: ./mvnw -e -B -Psonatype deploy
        env:
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
